.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #0d1b2acc;
  margin: 0;
  padding-top: 4px;
  height: 3.5rem;
  position: fixed;
  top: 0;
}
.Home {
  display: flex;
  width: 30vw;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  background: -webkit-linear-gradient(#77d2ff, #c64bd3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: fit-content;
  display: flex;
  text-align: center;
  margin-top: -0.05rem;
  line-height: 1;
  text-shadow: 0 0 42px #77d2ff, 0 0 82px #c64bd3;
}
.Nav {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

h3 {
  font-weight: normal;
  font-size: x-large;
}
