:root {
  background: url("pictures/spiral.svg") no-repeat center/cover;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #0d282ddd, #3d0d2fe1) no-repeat;
  font-family: "League Gothic", sans-serif;
  font-size: 2vw;
  font-weight: lighter;
  letter-spacing: 2px;
}

section {
  display: flex;
  flex-wrap: wrap;
}

section ul {
  padding: 0;
}

h1,
h2,
h3,
p,
li {
  font-weight: lighter;
}

.neonTextBlue {
  color: #b8e3f9;
  text-shadow: 0 0 2vw #b8e3f9, 0 0 4.2vw rgb(0, 191, 255),
    0 0 8.2vw rgb(0, 191, 255);
  margin: 0;
}

.neonTextPink {
  color: #fed8fd;
  text-shadow: 0 0 2vw #cf95d6, 0 0 4.2vw #fed8fd, 0 0 8.2vw #fed8fd;
  margin: 0;
}

img {
  height: 60vh;
  width: 30vw;
  object-fit: cover;
  border: 1px solid #dddddd20;
  border-radius: 50%;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.text-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #0e153490;
  border: 1px solid #dddddd20;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 60vh;
  width: 40vw;
  padding: 4vw;
}

.landing h1 {
  font-size: 6vw;
  margin: 0;
  padding: 0;
}

.landing ul {
  list-style: none;
  font-size: 3vw;
}

.about {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about p {
  font-weight: lighter;
  font-size: 1.8vw;
  line-height: 150%;
  padding: 2vw;
}

.about h2 {
  margin-bottom: -20px;
}
