:root {
  position: relative;
  background: url("pictures/spiral.svg") no-repeat center;
  background-size: cover;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #0d282ddd, #3d0d2fe1) fixed no-repeat;
  font-family: "League Gothic", sans-serif;
  font-size: large;
  font-weight: lighter;
  flex-wrap: wrap;
  /* background: linear-gradient(0.6turn, #b8e3f9, #cf95d6); */
}

ul {
  padding: 0;
}

h1,
h2,
h3,
p,
li {
  font-weight: normal;
}

li {
  font-size: 2rem;
}

.neonTextBlue {
  color: #b8e3f9;
  text-shadow: 0 0 20px #b8e3f9, 0 0 42px rgb(0, 191, 255),
    0 0 82px rgb(0, 191, 255);
}

.neonTextPink {
  color: #fed8fd;
  text-shadow: 0 0 20px #cf95d6, 0 0 42px #fed8fd, 0 0 82px #fed8fd;
}

.main img {
  height: 60vh;
  width: 30vw;
  object-fit: cover;
  border: 1px solid #dddddd20;
  border-radius: 50%;
}

.landing {
  height: 100vh;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.text-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #0e153490;
  border: 1px solid #dddddd20;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 60vh;
  width: 40vw;
  padding: 16px;
}

.landing h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.landing ul {
  list-style: none;
}

.about {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: bisque; */
}

.about p {
  font-weight: lighter;
  font-size: 1.5rem;
  line-height: 150%;
  padding: 20px;
}

.projects {
  height: 100vh;
  /* background-color: antiquewhite; */
}
