@media (orientation: portrait) {
  .projects,
  .landing,
  .about,
  .contact {
    flex-direction: column;
    gap: 20px;
    min-height: 180vh;
    min-width: 80vw;
    contain: content;
    padding: 20px;
    align-content: center;
  }

  .about {
    flex-direction: column-reverse;
  }

  img,
  .about img,
  .projects img,
  .project1,
  .project2 {
    width: 80vw;
    border-radius: 5px;
    align-items: center;
  }
  .Home h3,
  .Nav h3 {
    font-size: 0.8rem;
    letter-spacing: normal;
    gap: 20px;
  }

  .text-card,
  .contact {
    min-height: 60vh;
    width: 80vw;
  }

  .text-card p,
  .contact p,
  .contact a,
  .contact li,
  .text-card li {
    font-size: 1rem;
  }

  .text-card h2,
  .text-card h1,
  .contact h2 {
    font-size: 2.5rem;
  }
}
